# build products
tests/sweet_test
libsweetparse.so
libsweetparse.a

# Cmake files
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# vim files
*.swp
*.swo

# hidden files
.*

# nix-shell stuff
default.nix

